---
  - block:
    - name: Install kubernetes packages (Debian/Ubuntu)
      apt:
        name: "{{ kube_pkgs }}"
        update_cache: yes
        state: present
    when: ansible_os_family == "Debian" or ansible_os_family == "Ubuntu"
